/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;700&display=swap");

.App {
  font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
}

.Section1 {
  padding: 3em 5em;
  min-height: 30vh;
  background-color: #282c34;
  color: #fff;
  margin: 2%
}

.App-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hello-React {
  width: 50%;
  margin-top: 10em;
  margin-bottom: 2em;
}

.Hello-React h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.9;
  margin: 0;
}

.Hello-React p {
  font-size: 1.5rem;
  font-weight: 300;
}

.Hello-React button {
  color: #25283b;
  font-size: 2rem;
  padding: 0.8em 1em;
  margin-top: 3em;
  font-weight: bold;
  border-radius: 8px;
  border: none;
}

.Section2 {
  display: flex;
  flex-direction: row;
  margin: 7em 2em;
  font-size: 1.3rem;
  color: #25283b;
}

.Section2 > * {
  margin: 0em 1em;
}

.Section2 h2 {
  margin-bottom: -0.5em;
}